.main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.alertContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.alertContainer.hidden {
    opacity: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: red;
    text-decoration: underline;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #b90b0b;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    margin: 0px 0 5px;
    font-size: 12px;
    text-align: left;
}

.register {
    margin-top: 15px;
}

.link {
    text-decoration: none;
    color: blue;
    margin-left: 5px;
    transition: text-decoration 0.3s ease;
}

.link:hover {
    text-decoration: underline;
}
