.main {
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
}

.alertContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.alertContainer.hidden {
    opacity: 0;
}

.container {
    display: flex;
    width: 100%;
    max-width: 400px;
    background-color: white;
    justify-content: center; 

    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 60px; 
}

.title {
    text-align: center;
    color: red;
    text-decoration: underline;
    margin-bottom: 20px;
}

.txtfield {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #b90b0b;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
    text-align: left;
}

.passwordRequirements imp{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    list-style-type: disc;
}

.passwordRequirements li {
    margin-bottom: 5px;
}


